USE [IsimTescilDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2.07.2022 11:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sepets]    Script Date: 2.07.2022 11:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sepets](
	[SepetId] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NULL,
	[UrunAdi] [nvarchar](max) NULL,
	[Fiyat] [int] NULL,
	[Date] [datetime] NULL,
	[Adet] [int] NULL,
 CONSTRAINT [PK_dbo.Sepets] PRIMARY KEY CLUSTERED 
(
	[SepetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunlers]    Script Date: 2.07.2022 11:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunlers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [nvarchar](max) NULL,
	[Fiyat] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Urunlers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sepets] ON 

INSERT [dbo].[Sepets] ([SepetId], [Id], [UrunAdi], [Fiyat], [Date], [Adet]) VALUES (1, 1, N'Alan Adı', 100, NULL, 0)
INSERT [dbo].[Sepets] ([SepetId], [Id], [UrunAdi], [Fiyat], [Date], [Adet]) VALUES (2, 2, N'Hosting', 1500, CAST(N'2022-07-01T23:59:23.427' AS DateTime), 0)
INSERT [dbo].[Sepets] ([SepetId], [Id], [UrunAdi], [Fiyat], [Date], [Adet]) VALUES (3, 1, N'Alan Adı', 100, CAST(N'2022-07-02T08:06:34.190' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Sepets] OFF
GO
SET IDENTITY_INSERT [dbo].[Urunlers] ON 

INSERT [dbo].[Urunlers] ([Id], [UrunAdi], [Fiyat]) VALUES (1, N'Alan Adı', 100)
INSERT [dbo].[Urunlers] ([Id], [UrunAdi], [Fiyat]) VALUES (2, N'Hosting', 1500)
INSERT [dbo].[Urunlers] ([Id], [UrunAdi], [Fiyat]) VALUES (1003, N'WordPress', 600)
SET IDENTITY_INSERT [dbo].[Urunlers] OFF
GO
